/* Add a black background color to the top navigation */
.topnav {
  top: 0%;
  margin: 0;
  align-items: left;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  border: 0.3px solid gray;
  background: #ffffff;
  box-shadow: 5px 5px 10px #ffffff, -5px -5px 10px #ffffff;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #0e0779;
  padding-left: 30px;
  text-decoration: none;
  font-size: 30px;
}

.jira-title-img {
  height: 25px;
  width: 25px;
}

.create-project-button {
  height: 50px;
  padding: 10px;
  background: white;
  border: none;
  color: blue;
}
